<div class="col-md-9">
<div class="form-group">
<label>Heading</label>
<input class="form-control" placeholder="Enter Column / Editorial Heading Here" name="Heading" value="{{t.title}}" required>
</div>
</div>
<div class="col-md-3">
<div class="form-group">
<label>Type</label>
<input class="form-control" name="Heading" value="{{t.columntype}}" required>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="form-group">
<label>Writer</label>
<input class="form-control" placeholder="Enter Column / Editorial Heading Here" name="Heading" value="{{t.columnwriter}}" required>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Media</label>
<input class="form-control" placeholder="Enter Column / Editorial Heading Here" name="Heading" value="{{t.medianame}}" required>
</div>
</div>
<div class="col-md-4">
<div class="form-group">
<label>Date</label>
<input class="form-control" placeholder="Enter Column / Editorial Heading Here" name="Heading" value="{{t.datecolumn}}" required>
</div>
</div>
</div>
</div>