{% include  "header.html" %}

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>View Hazards</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">View Hazards</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">

 <div class="card-body">
<div class="tab-content">
<div class="active tab-pane" id="activity">
<div class="row">
<div class="col-md-12">
    <button onclick="window.print()">Print this page</button>
<div class="card-header"></div>
<div class="card-body pad">
<form action="/search_hazards/" method="POST">
{% csrf_token %}
<div class="mb-3">
</div>
</form>
</div>
</div>
</div>
</div>

<table class="table table-hover text-nowrap" id="myTable">
<thead>
<tr>
<th>ID</th>
<th>Design Element</th>
<th>Activity Name</th>
<th>Hazards Name</th>
<th>Probility</th>
<th>Severity</th>
<th>Risk</th>
<th>Control Measure</th>
<th>Remove</th>
</tr>
</thead>
<tbody>
{% for t in hazards_records|dictsortreversed:"risk" %}
<tr>
<td>{{ forloop.counter }}</td>
<td>{{t.design_element}}</td>
<td>{{t.activity_name}}</td>
<td>{{t.hazard_name}}</td>
<td>{{t.probility|floatformat:1}}</td>
<td>{{t.severity|floatformat:1}}</td>
<td>{{t.risk|floatformat:1}}</td>
<td>{% autoescape off %} {{t.control_measure}} {% endautoescape %}</td>
<td><input type="button" class="btn btn-danger" onclick="deleteRow(this)" value="Delete"></td>
</tr>
{% endfor %}
</tbody>
</table>

            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#DesignElement").change(function () {
     
      var DesignElement =  $("#DesignElement").val();  
        //alert(DesignElement);
      $.ajax({                       
        url: 'https://nabeel.zensoltechs.com/ajax/load-activities/',                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'DesignElement': DesignElement       
        },
        success: function (data) {   
            //alert(data);
          $("#Activity").html(data);  
        }
      });

    });
function deleteRow(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("myTable").deleteRow(i);
}
</script>
{% include  "footer.html" %}